<section>
    <div>
        <form>
            <div class="form">
                <h3>name</h3>
                <input type="text" ng-model="user.name">
            </div>
            <div class="form">
                <h3>user name</h3>
                <input type="text" ng-model="user.username">
            </div>
<!--
            <div class="form">
                <h3>name</h3>
                <input type="text" ng-model="user.">
            </div>
-->
            <div class="form">
                <h3>password</h3>
                <input type="password" ng-model="user.password">
            </div>
            <div class="form">
                <h3>confirm password</h3>
                <input type="password" ng-model="user.check">
            </div>
            <div class="form">
                <button ng-click="signUp(user)">SIGN UP</button>
            </div>
        </form>
    </div>
</section>